node_modules
*/node_modules
dist
*/dist
dist-electron
*/dist-electron
pgsql-win64
windows-setup
.git
.github
.vscode
.DS_Store
backups/*.zip
backups/*.sql
backups/*.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
